@tailwind base;
@tailwind components;
@tailwind utilities;

body, #root {
  min-height: 100vh;
}

body {
  background-color: rgba(0, 0, 0, 0.87);
}

.container {
  width: min(70em, 100% - 4rem);
  margin-inline: auto;
}